@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<div class="main">
    <div class="map">
        <img src="~/Images/World_map.jpg" alt="The World" />
    </div>
    <p>
        Hi there. This is just some text to make the white space a little less white. There's nothing really wrong with white space but there should be something here instead of just a blank space. I could add some images and something that actually makes sence but right now, I'm just filling it up with whatever comes to mind as I type. The navbar to the left needs some work too. Right now, there's nothing that isn't linked along the top.
    </p>
    <p>
        Of course, one might ask why do we need to have two navbars? Wouldn't just the top one or the left one be enough? Nah. One is never enough. If the left side doesn't look good, I might add another there. Of course, the same navbar wouldn't look good though maybe. Maybe some current info about shows or something should go on the right. That of course would limit the space for this wall of text.
    </p>
    <p>
        Maybe if I type enough text then nobody would be able to see past it and tell that there's nothing here but a wall of text. You think that will work? Probably not but there's really no way of knowing until it's done. I'm not really going to do all that. The right side might be doable. I'm just trying to fill in this space with enough text that I think the final version (or at least version 1.0) will have. That text and images would be meaningful.
    </p>
    <p>
        Ok, so since the three above paragraphs doesn't cause the screen to scroll on my monitor, I have to type even more words. I tried to fix the left menu in place. It looked good, until you try to resize the screen. At that point the map and text covers the menu since the menu doesn't move. I've seen a few ways to do it with js and css with everything in one view instead of using two partial views. But I was trying to do something interesting with partial views. Maybe I just need to figure out a way to get just the main view to scroll. Hmmm...
    </p>
</div>