@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Welcome to the new IPG website and member directory. Please be patient as this site is currently under development.</p>

<h3>IPG</h3>
<p>IPG is an International Association created to educate, certify and accredit Professional Pet Groomers.
    Groomers with active membership, in good standing and who complete annual continuing education and follow the
    "IPG Code of Ethics," maintain their certifications and educational endorsements.</p>

<h5>IPG is dedicated to:</h5>
<ul>
    <li>The safety of all pets entrusted into our care.</li>
    <li>Educating pet owners and groomers on safe grooming and handling techniques.</li>
    <li>Increasing the recognition of the grooming profession.</li>
    <li>Acknowledging the superior skill-set of 'our' groomers.</li>
</ul>

<h3>IPG Website Features</h3>

<dl>
    <dt><strong>Finding a groomer</strong></dt>
    <dd>
        This site will function to allow any pet owner to find a grooomer where they live, and even on the go.<br /> Planning a trip?<br />
        With this site you can find a groomer you know will be kind, professional and safe.
    </dd>
    <dt><strong>Membership Management</strong></dt>
    <dd>
        Members will have access to their accounts like never before. A member will be able to update their information, phone numbers, mailing address, etc. with ease.
        Membership and testing information available at the click of a button.<br />
         Need to know what tests you have taken? How about what tests you need to get to the next certifiation? All of that will be available for you through your member portal!
    </dd>
    <dt><strong>IPG processing speed</strong></dt>
    <dd>
        The new system will allow IPG to get new information out to you the members faster than ever!<br />
        Took a test at a crowded trade show? Many of us have been there, these shows can be exaughsting and it feels like it takes too long to get your results!<br />
        <b>NO MORE!</b><br />
        With the functionality available to our certifiers they can get your test results uploaded much faster, often same day if not right then on site!
    </dd>
    <dt><strong>On the go??</strong></dt>
    <dd>
        As we implied previously and by the nature of the world wide web, this new site means you can check to see if changes have been made while on the go, 
        from your work computer to your mobile phone. Our development team is working to make the site smooth and effictient, meaning that it will be that much easier to navigate from any device!
    </dd>
</dl>
