<link href="~/Content/Contact.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Contact Us";
}


@*<div class="row col-md-1"></div>*@

<div class="row col-md-12">

    <h3 style="text-align:center">
        IPG IS BASED ON THE BELIEF THAT OUR MEMBERS NEEDS ARE OF THE UTMOST IMPORTANCE.<br />
        Our association is committed to meeting those needs.
    </h3>
    <br />
    <hr />
</div>
<div class="w3-row">
    <div class="w3-half">
        <address>
            Mailing Address:<br />
            International Professional Groomers, INC<br />
            6475 Wallace Rd NW<br />
            Salem, OR 97304<br />
            P: 503-551-2397<br />
        </address>
        <address>
            <strong>Email:</strong>   <a href="mailto:Info@ipgicmg.com">Info@ipgicmg.com </a><br />
        </address>
    </div>
    <div class="w3-half">
        <iframe width="450" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB75sLTv_4MR8DnNb8PptRe9Acvh9vNzqI&q=6475+Wallace+Rd+NW,Salem+OR+97304+USA" )></iframe>
    </div>
</div>
<br />
<hr />
<div class="w3-row">
    <h2>IPG Leadership</h2>
    <br />
    <div class="w3-quarter">
        <img style="margin:0" src="~/Content/Images/Easton, Linda.jpg" />
    </div>
    <div class="w3-quarter">
        <address>
            Linda Easton<br />
            Executive Director<br />
            6475 Wallace Rd NW<br />
            Salem, OR 97304<br />
            P: 503-551-2397<br />
            F: 503-581-1220<br />
        </address>
        <strong>Email:</strong>   <a href="mailto:Linda@IPGICMG.com">Linda@IPGICMG.com </a><br />
    </div>
    <div class="w3-half">
        <p>
            Linda is an International Certified Master Groomer and grooming
            certifier with International Professional Groomers. As a competitive
            groomer, her wins include Best in Show and Best All-Around Groomer.
            Linda has been involved with dogs for over 40 years. She began training
            for the obedience ring and breeding and showing Basenjis. She worked
            as a professional handler, finishing over 60 champions in many breeds,
            from Pekingese and poodles to Newfoundlands. Her grooming career began
            in 1973, and she and her husband built 7 grooming shops. Her current
            grooming salon and self wash is in Salem, Oregon. As an educator and
            certifier for IPG, Linda travels all over the world certifying and giving
            workshops. Linda and her family now live on a 50-acre ranch and she and
            her daughter show horses. Linda is also involved in 4-H and High School
            equestrian teams.
        </p>

    </div>
</div>
</div>



