@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<h4>IPG is based on the belief that our members' needs are of the utmost importance.
Our association is committed to meeting those needs.</h4>

<address>
Mailing Address:<br />
International Professional Groomers, INC<br />
6475 Wallace Rd NW<br />
Salem, OR 97304<br />
P: 503-551-2397<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Info@ipgicmg.com">Info@ipgicmg.com </a><br />
</address>
<img src="~/Content/Images/Easton, Linda.jpg" />
<address>
    Linda Easton<br />
    Executive Director<br />
    6475 Wallace Rd NW<br />
    Salem, OR 97304<br />
    P: 503-551-2397<br />
    F: 503-581-1220<br />
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:Linda@IPGICMG.com">Linda@IPGICMG.com </a><br />
</address>
<p>Linda is an International Certified Master Groomer and grooming 
    certifier with International Professional Groomers. As a competitive 
    groomer, her wins include Best in Show and Best All-Around Groomer. 
    Linda has been involved with dogs for over 40 years. She began training
     for the obedience ring and breeding and showing Basenjis. She worked 
    as a professional handler, finishing over 60 champions in many breeds, 
    from Pekingese and poodles to Newfoundlands. Her grooming career began 
    in 1973, and she and her husband built 7 grooming shops. Her current 
    grooming salon and self wash is in Salem, Oregon. As an educator and 
    certifier for IPG, Linda travels all over the world certifying and giving 
    workshops. Linda and her family now live on a 50-acre ranch and she and 
    her daughter show horses. Linda is also involved in 4-H and High School 
    equestrian teams.</p>