<link href="~/Content/Contact.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Contact Us";
}


@*<div class="row col-md-1"></div>*@

<div class="row col-md-12">

    <h3 style="text-align:center">
        IPG IS BASED ON THE BELIEF THAT OUR MEMBERS NEEDS ARE OF THE UTMOST IMPORTANCE.<br />
        Our association is committed to meeting those needs.
    </h3>
    <br />
    <hr />
    <div class="row col-md-2"></div>
    <div class="row col-md-4">
        <address>
            Mailing Address:<br />
            International Professional Groomers, INC<br />
            6475 Wallace Rd NW<br />
            Salem, OR 97304<br />
            P: 503-551-2397<br />
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Info@ipgicmg.com">Info@ipgicmg.com </a><br />
        </address>
    </div>
    <div class="row col-md-2"></div>
    <div class="row col-md-4">
        <iframe width="450" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB75sLTv_4MR8DnNb8PptRe9Acvh9vNzqI&q=6475+Wallace+Rd+NW,Salem+OR+97304+USA" )></iframe>
    </div>
    <div class="row col-md-2"></div>
    <br />
    <!--Start contact form that will email contact information to admin.
        Adapted code from www.docs.microsoft.com. This doesn't do anything for now
        until we decide how we want to deal with the data.-->
    <div class="row col-md-12">
        <form method="get" action="ProcessRequest.cshtml">
            <fieldset>
                <legend>Mailing List Sign Up</legend>
                <p><label class="field" for="firstName">First Name:  </label><input type="text" name="firstName" class="inputbox" /></p><br />
                <p><label class="field" for="lastName">Last Name:  </label><input type="text" name="lastName" class="inputbox" /></p><br />
                <p><label class="field" for="company">Company:  </label><input type="text" name="company" class="inputbox" /></p><br />
                <p><label class="field" for="email">Email:  </label><input type="text" name="email" class="inputbox" /></p><br />
                <p><label class="field" for="phone">Phone:  </label><input type="text" name="phone" class="inputbox" /></p><br />
                <p><label class="field" for="streetAdd">Street Address:  </label><input type="text" name="streetAdd" class="inputbox" /></p><br />
                <p><label class="field" for="city">City:  </label><input type="text" name="city" class="inputbox" /></p><br />
                <p><label class="field" for="state">State:  </label><input type="text" name="state" class="inputbox" /></p><br />
                <p><label class="field" for="zip">Zip Code:  </label><input type="text" name="zip" class="inputbox" /></p><br />
                <p><label class="field" for="comments">Comments:  </label><textarea type="text" name="comments" class="inputbox"></textarea></p><br />

                <div>
                    <input type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/Images/Easton, Linda.jpg" />
        </div>
        <div class="col-md-3">
            <address>
                Linda Easton<br />
                Executive Director<br />
                6475 Wallace Rd NW<br />
                Salem, OR 97304<br />
                P: 503-551-2397<br />
                F: 503-581-1220<br />
            </address>
            <address>
                <strong>Email:</strong>   <a href="mailto:Linda@IPGICMG.com">Linda@IPGICMG.com </a><br />
            </address>
        </div>
        <!--div class="row"></div>-->
        <div class="col-md-7">
            <p>
                Linda is an International Certified Master Groomer and grooming
                certifier with International Professional Groomers. As a competitive
                groomer, her wins include Best in Show and Best All-Around Groomer.
                Linda has been involved with dogs for over 40 years. She began training
                for the obedience ring and breeding and showing Basenjis. She worked
                as a professional handler, finishing over 60 champions in many breeds,
                from Pekingese and poodles to Newfoundlands. Her grooming career began
                in 1973, and she and her husband built 7 grooming shops. Her current
                grooming salon and self wash is in Salem, Oregon. As an educator and
                certifier for IPG, Linda travels all over the world certifying and giving
                workshops. Linda and her family now live on a 50-acre ranch and she and
                her daughter show horses. Linda is also involved in 4-H and High School
                equestrian teams.
            </p>
        </div>
    </div>
</div>



