
@{
    ViewBag.Title = "FAQ";
}

@*<div class="row col-md-2">
    @Html.Partial("_LeftNav")
</div>

<div class="row col-md-1"></div>*@

<div class="row col-md-12">


    <h2>FAQ</h2>

    <p>Two Sections: One for IPG and one for Website</p>

    <h3>IPG</h3>

    <dl>
        <dt><strong>What is IPG?</strong></dt>
        <dd>
            IPG is an International Association created to educate, certify and accredit Professional Pet Groomers.
            Groomers with active membership, in good standing and who complete annual continuing education and follow the
            "IPG Code of Ethics," maintain their certifications and educational endorsements.
        </dd>

        <dt><strong>What is important to IPG?</strong></dt>
        <dd>
            IPG is dedicated to:
            <ul>
                <li>The safety of all pets entrusted into our care.</li>
                <li>Educating pet owners and groomers on safe grooming and handling techniques.</li>
                <li>Increasing the recognition of the grooming profession.</li>
                <li>Acknowledging the superior skill-set of 'our' groomers.</li>
            </ul>
        </dd>

        <dt><strong>What is the deal with these 'Tracks'?</strong></dt>
        <dd>
            The tracks are a guideline to help you navigate the cirtification process.
            Certificatoin can seem overwhelming, but we are here to help you through it.
            The tracks can be thought of as stages of the process that hold all the neccessary
            steps needed to guide you to the next level of certificatoin.
        </dd>

        <dt><strong>So where do I start?</strong></dt>
        <dd>
            First we want to welcome you to the family! You are about to embark on a journey that will be both enjoyable and enriching.
            Making these first steps easier for you is very important to us, for that we have 'Track I' ready for you.
            Track I will help guide you through the first stages of testing and certification you need to begin on your journey.
        </dd>

        <dt><strong>What if I am not yet a member?</strong></dt>
        <dd>
            We hope you decide to join us. We have tons to offer new and experienced groomers alike.
            To get your certification you will need to become a member. IPG is the WORLD LEADER in Groomer Certification and Education.
            We currently have certified groomers in 16 countries.  There are IPG affiliates in Australia, Brazil, Canada, Latin America,
            Puerto Rico, Singapore, the United Kingdom and the United States. Be a part of this exciting association with members around the world!<br />
            This can be a big decision for people, so here are a few reasons to become a member.
            <ul>
                <li><b>"Changes the Conversation"</b> with your customers by increasing your professional image and presence</li>
                <li><b>Increased financial security</b> by allowing you to charge fair prices</li>
                <li><b>Reduces your stress</b> while improving your knowledge</li>
                <li><b>Sets you apart</b> from the competition</li>
                <li><b>Acknowledges</b> your advanced skills</li>
                <li>Creates <b>public awareness</b> of the advantages of taking pets to a Certified Professional Groomer</li>
                <li><b>Supports our members</b> through an international association with offices around the world</li>
                <li>Provides and encourages <b>Continuing Education</b> to add to your skill set and keep you current in the industry</li>
                <li>You become a part of the <b>IPG Family</b></li>
            </ul>
        </dd>

    </dl>


    <h3>IPG Website</h3>

    <dl>
        <dt><strong>Do I need to make an account?</strong></dt>
        <dd>
            Good question! If you are just looking for a groomer you do not need to make an account. You will be able to search all groomers without needing to log in!
            <br />
            If you are a member or looking to become a member, making an account is a great idea. You do not need to have an account on our site to be a member,
            however you will be losing out on some of the value of your membership. Here you can track your membership and testing information as well as updte some information on your public profile.
        </dd>

        <dt><strong>I can't find my page! Where is it?</strong></dt>
        <dd>
            The site is still new and we are adding new members from our database everyday. Our goal is to have every single member visible on our site(unless they chose not to be listed).
        </dd>

        <dt><strong>I can't log-in!</strong></dt>
        <dd>
            Here is where we begin to sound like a broken record, this site is new and there are still bugs. If you are having trouble logging in please use our contact page and contact the tech department.
            They will do their best to help you get connected!
        </dd>

    </dl>
</div>