@{
    ViewBag.Title = "IPGMMS";
}

    <div class="col-md-12">
        <br />
        <br />
        <div class="main">
            <div class="map">
                <img src="~/Content/Images/World_map_wallpaper.jpg" alt="The World" />
            </div>
            <p>
                Welcome to the International Professional Groomers web service. This site is currently under construction. The above map may at some point include pins where all of the members are located and will help find a member near you.
            </p>
            <p>
                People that are seeking certifications will be able to join in order to start that process. Members with enough certifications will have their own page that will list their services, business name and address, and a few other facts about them.
            </p>
            <p>
                As of now, however, this website has very basic functionality and only a few sample members to show only a couple of features. Stay tune for further updates as they happen!
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>Several line breaks have been added just to scroll the display</p>
        </div>
    </div>
