@{
    ViewBag.Title = "IPGMMS";
}

@section scripts {
    <link href="@Url.Content("~/Content/Homepage.css")" rel="stylesheet" />
}

@section LeftMenu {
    <div class="col-md-2">
        @Html.Partial("_LeftNav")
    </div>

    <div class="col-md-10">
        @Html.Partial("_Home")
    </div>
}