
@{
    ViewBag.Title = "StarTechCredits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="w3-row">
    <div class="w3-half">
        <img src="~/Content/Images/StarTechLogo.png" />
        <br />
    </div>
    <div class="w3-half">
        <p>
            This site was brought to you by Star Technologies, or StarTech. This group was assembled for
            the senior project sequence, CS 460-462 Software Engineering I,II, and III classes
            at Western Oregon University.
        </p>
        <h3>
            { Cameron Stanavige, Computer Science/Mathematics major, Class of 2018 }<br />
            { Christopher Easton, Computer Science major, Class of 2017 }<br />
            { Sarah Alvarado, Computer Science major, Class of 2017 }<br />
            { Wayne Rose, Computer Science/Mathematics major, Class of 2017 }<br />
        </h3>
    </div>
</div>
<hr />
<div class="w3-row">
    <div class="w3-half w3-padding-4 w3-gray">
        <h2>Our Vision for the International Pet Groomers Member Management System</h2>
        <p>
            Vision Statement:
            For international certification companies who need to manage memberships,
            certifications, and client accessibility. The International Professional
            Groomers Member Management Service (IPGMMS) is a publically available
            web application containing all that is necessary for the managing,
            certifying, informing, and locating of professional groomers all over
            the world; providing a valuable resource for IPG admin, pet groomers,
            and clients alike. This application will assist IPG in the certification
            of new members, as well as the creating and updating accounts and the
            management of already certified members. Secondly this application will
            provide a simple and organized way for potential members to begin their
            certification process and for already certified members to update and
            upgrade their certifications. Lastly, this application will provide a
            provide a variety of convenient ways for clients to search for and find
            all needed information about IPG members in their area or area of choice.
            Unlike the current lack of pet groomer websites, our product will provide
            an easy-to-use centralized hub for the entire spectrum of user needs
            regarding professional groomers.
        </p>
    </div>
    <div class="w3-half w3-light-gray w3-padding-left ">
        <h3 class="navigationLinks"><a href="https://bitbucket.org/cstanavige12/startech">BitBucket Repo for IPGMMS</a></h3>
        <br />
        <h3>Summary of tools used to complete this project: </h3>
        <p>
            Microsoft Visual Studio Community 2015<br />
            Microsoft .NET Framework<br />
            Microsoft Azure <br />
            NUnit<br />
            Selenium<br />
            Git<br />
            BitBucket<br />
            Slack<br />
            <br />
            <b>Languages:</b><br />
            Microsoft Visual C# 2015<br />
            HTML and CSS <br />
            JavaScript<br />
        <p>

    </div>
</div>
<div>
    <hr />
    <h2>We've had some fun too.... Here are some of our favorite quotes.... </h2>
    <p>
        Write a script to fix that pesky web.config file. – W.Rose *
        Where is the fun in that?!? - C. Easton *
        Dear Web.config file, how is it that you have become so popular? – C.Stanavige *
        As soon as I said ‘web.config’, he would have looked at me like I had two heads. – S.Alvarado *
        It was for the web.config file – C.Stanavige *
        …eventually. I wonder if you changed it from Bitbucket it would affect that pesky web.config file – W.Rose *
        Why Web.config file....why – C.Stanavige *
        Stupid Web.config file...always breaking things – C.Stanavige * Do not divide by web.config...it is the destroyer of all things - C.Stanavige *
        I like the webconfig file just the way it is..... - S.Alvarado *
        Just another constant fluctuation of the web.config file lol - C.Stanavige
        <h3 class="pull-right">...see ya web.config</h3>
    </p>
</div>


