

<div id="postalBox">
        <p>
            Postal Code: @Html.TextBox("zipCode", "")
            <input type="button" value="Center Map" id="getZip" />
        </p>
</div>
<br />
<div id="map"></div>
<script>
    var arry = @Html.Raw(Json.Encode(ViewBag.locations));
    var center = @Html.Raw(Json.Encode(ViewBag.center));
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMzq0fLRdhVhgT42oiQrfu-gz9m0ftvhk&v=3&callback=initMap">
</script>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Map.js"></script>
    <link href="@Url.Content("~/Content/MapIndex.css")" rel="stylesheet" />
}