
@{
    ViewBag.Title = "DetailCertification";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}

<h2>DetailCertification</h2>
<p>Give the details of the certification, notes, and tests associated.</p>
