
@{
    ViewBag.Title = "ReportLandingPage";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}

<h2>Reports</h2>
<br />
<div class="row">
    <div class="col-lg-8">
        <table class="w3-table-all  w3-responsive">
            <tr>
                <th>Report Name</th>
                <th>Report Description</th>
            </tr>
            <tr>
                <td id="memberListLinks"><a href="@Url.Action("ReportExpiredMembers", "Portal")">Expired Members</a></td>
                <td>This report lists all expired members.</td>
            </tr>
            <tr>
                <td id="memberListLinks"><a href="@Url.Action("ReportExpiringMember", "Portal")">Expiring Members</a></td>
                <td>This report lists all members expiring within two months.</td>
            </tr>
            <tr>
                <td id="memberListLinks"><a href="@Url.Action("ReportNewMember", "Portal")">New Members</a></td>
                <td>This report lists all members who have been added but still require a member level.</td>
            </tr>
        </table>
    </div>
</div>

