@model IEnumerable<IPGMMS.Models.Member>

@{
    ViewBag.Title = "ReportNewMember";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}

<h2>ReportNewMember</h2>

<div>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <center><h3>@Html.ActionLink(item.FullName, "Details", new { ID = item.ID })<br /></h3></center>
        </div>
    }
</div>