
@{
    ViewBag.Title = "UpdateCertification";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}

<h2>UpdateCertification</h2>
<p>Here we will allow an admin to edit the details of a certification including notes and what tests are associated with this certification.</p>

