<?xml version="1.0" encoding="utf-8"?>

    <!--  For more information on how to configure your ASP.NET application, please visit  http://go.microsoft.com/fwlink/?LinkId=301880  -->
    <!-- Local DB Here
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-IPGMMS-20170215031425.mdf;Initial Catalog=aspnet-IPGMMS-20170215031425;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings> -->


    <!--  Azure DB Here  -->
    <connectionStrings>
        <add name="IPGMMS_Context" connectionString="data source=ipgserver.database.windows.net,1433;Initial Catalog=ipgDB;Persist 
    Security Info=False;User ID=startechipg;Password=Elephant92*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;
    Connection Timeout=30;" />
    </connectionStrings>