@{
    ViewBag.Title = "Home Page";
}


<br>
<br>

<div class="left-navbar">
    <div class="topLogo">
        <img src="~/Content/Images/IPGLogo2.jpeg" alt="Top Logo" />
    </div>
    <p>
        Links go here, these not in order. Will need to touch up once links are established.
    </p>
    <ul>
        
        <li>@Ajax.ActionLink(
            "List All Members",
            "ListMembers",
            "Portal",
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "CenterPartialUpdateFrame"
            })
        </li>
        <li>Hi</li>
    </ul>
</div>
