@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
            <div class="w3-dropdown-hover">
                <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-white">
                    <i class="fa fa-user-circle w3-xlarge"></i>
                </a>
                <div class="w3-dropdown-content">
                    <a href="@Url.Action("Index","Manage")">Manage Account</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    
                </div>
            </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
