/* Alignes the search box vertically in the middle */
#searchFormDiv {
    vertical-align: middle;
}

#searchForm {
    padding-bottom: 1em;
}

/* Customize the look of the member search input box area */
#searchForm input {
    display: inline;
    margin-right: 1em;
    margin-top: .25em;
}

/* 
    Set up the cells on the homepage to be the same size vertically as one another.
    This work well in Chrome, but seems to cause problems in other browsers. Will 
    need to be adjusted in the future.
*/
.col-container {
    display: table;
    width: 100%;
}

.col-image {
    display: table-cell;
    width: 40%;
}

.col-text {
    display: table-cell;
}

.col-text-50 {
    display: table-cell;
    width: 50%;
}

/* Change the display of the cells to block form when the screen gets small */
@media only screen and (max-width: 600px) {
    .col-image {
        display: block;
        width: 100%;
    }

    .col-text { 
        display: block;
        width: 100%;
    }

    .col-text-50 { 
        display: block;
        width: 100%;
    }
}

.col-text p a {
    color: blue;
}

.col-text-50 p a {
    color: blue;
}