.dl-horizontal {
    width: auto;
    margin-left: auto;
    display: table-cell;
 }

.dl-horizontal dt {
    width: 120px;
    text-align: left;
    display: table-cell;
}

.dl-horizontal dd  {
    text-align: left;
    display: table-cell;
}

.fa-info-circle {
    font-size: 75%;
    vertical-align: top;
    color: dodgerblue;
}