@model IPGMMS.ViewModels.MemberInfoViewModel

<div class="row col-md-12">
    <iframe width="450" height="250" frameborder="0" style="border:0" src="@Url.Content(Model.ListingInfo.mapURL)" )></iframe>
</div>

