<link rel="stylesheet" type="text/css" href="~/Content/Error.css" />
@{
    ViewBag.Title = "Page Not Found";
}

<center><h1>404 Page Not Found</h1></center>

<img src="~/Content/Images/dog_digging_outline.jpg" class="w3-round" alt="Digging dog" id="dogNotFound"/>
<center><p> We're sorry that we can't find that page. We think the dog ate it.</p></center>