
@{
    ViewBag.Title = "server";
}

<center><h1>Um, something happened to the server.</h1></center>
<center><img src="~/Content/Images/servers.jpg" class="w3-round" alt="Server and dog" id="servererror"/></center>

